# =========================
# Environment variables
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code / IDE
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Alembic (opcional)
# =========================
#migrations/versions/*.pyc
